In [4]:
%load_ext autoreload
%autoreload 2
import sys
import os
import pandas as pd
import numpy as np

#add the parent folder to sys path so we can import from the notebook subfolder
sys.path.insert(1,'..')

import rimsdash.rims as rims
import rimsdash.usergather as gather
import rimsdash.analytics as analytics
import rimsdash.config as config

user_data, project_data = gather.report_data()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [5]:
uid_list, user_list = gather.gather_userlists()

pid_list, pname_list = gather.gather_projectlists()

rawproj=rims.get_projects()

systems = rims.get_systems()

In [6]:
#login = 'myusername'
#login='s4595555'   #aditya
login='s4391566'    #ronan

trow=user_data[user_data['login'] == login]
tid = int(trow['id'].iloc[0]) 
tlogin=str(trow['login'].iloc[0]) 

userinfo = rims.get_user_by_id(tid)

userrights = rims.get_user_rights(tlogin)

userrights

{87: 'A', 53: 'A', 50: 'A', 185: 'A', 132: 'A'}

In [17]:
user_projects = rims.get_user_projects(tlogin)

rights = rims.get_user_rights(tlogin)

rights

<Response [200]>

{87: 'A', 53: 'A', 50: 'A', 185: 'A', 132: 'A'}

In [24]:
df = pd.DataFrame(rights.items(), columns=['systemid', 'access_level'])

df

   systemid access_level
0        87            A
1        53            A
2        50            A
3       185            A
4       132            A